<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2011-2013 eXo Platform SAS.

    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 3 of
    the License, or (at your option) any later version.

    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.

-->
<configuration>

  <!-- Enable JMX to configure logs -->
  <jmxConfigurator/>

  <!-- Default pattern used for printing logs in files and on the console for systems that doesn't support a colorized output -->
  <property name="acceptance.logs.default.pattern" value="%date{ISO8601} | %-5level | %msg [%logger{40}&lt;%thread&gt;] %n%xEx"/>
  <!-- Pattern used for console supporting ANSI colors -->
  <property name="acceptance.logs.colorized.pattern" value="%date{ISO8601} | %highlight(%-5level) | %msg %green([%logger{40}){}%cyan(&lt;%thread&gt;){}%green(]){} %n%xEx"/>
  <!-- Logs are daily archived or whenever the file size reaches maxFileSize -->
  <property name="acceptance.logs.rolling.maxFileSize" value="100Mb"/>
  <!-- Number of archives to keep -->
  <property name="acceptance.logs.rolling.maxHistory" value="60"/>

  <!-- Load user configuration to customize this setup -->
  <property file="${catalina.base}/conf/acceptance.properties"/>

  <!--
  LevelChangePropagator propagates changes made to the level of any logback-classic logger onto the java.util.logging framework.
  Such propagation eliminates the performance impact of disabled log statements.
  -->
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <!-- Console logs -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>true</withJansi>
    <encoder>
      <pattern>${acceptance.logs.colorized.pattern}</pattern>
    </encoder>
  </appender>

  <!-- Server logs -->
  <appender name="FILE_ACCEPTANCE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${catalina.base}/logs/acceptance.log</file>
    <append>true</append>
    <encoder>
      <pattern>${acceptance.logs.default.pattern}</pattern>
      <outputPatternAsHeader>true</outputPatternAsHeader>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${catalina.base}/logs/acceptance-%d{yyyyMMdd}-%i.log.zip</fileNamePattern>
      <!-- Max number of archives to keep -->
      <maxHistory>${acceptance.logs.rolling.maxHistory}</maxHistory>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches maxFileSize -->
        <maxFileSize>${acceptance.logs.rolling.maxFileSize}</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
  </appender>
  <appender name="ASYNC_ACCEPTANCE_LOG" class="ch.qos.logback.classic.AsyncAppender">
    <!-- Increase blocking queue capacity - 256 by default -->
    <queueSize>512</queueSize>
    <!-- Do not loose any event -->
    <discardingThreshold>0</discardingThreshold>
    <appender-ref ref="FILE_ACCEPTANCE_LOG"/>
  </appender>

  <!-- Acceptance -->
  <logger name="org.acceptance.acceptance" level="INFO"/>

  <!-- Spring -->
  <logger name="org.springframework" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="ASYNC_ACCEPTANCE_LOG"/>
  </root>
</configuration>